@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Cullen Nagle and I am a senior at Ohio University. I am from the Cleveland area and studying MIS and Business Analytics. I love sports especially football and golf. I enjoy listening to music, reading, working out and hanging out with my friends.</p>
