@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">MIS4200 is a senior level course that focuses on System Development. Below is a link to the COB LMS site.</p>
    <p><a href="https://ohiocoblms.azurewebsites.net/login.aspx" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MTD Products</h2>
        <p>Over the Summer I worked as an intern for the company MTD. My internship was Business Analytics in the Customer Experience department. Below is a link to the companies' website.</p>
        <p><a class="btn btn-default" href="https://www.mtdproducts.com/equipment/mtdproducts">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>
            @Html.ActionLink("Patients", "Index", "Patients") <br />
            @Html.ActionLink("Doctors", "Index", "Doctors") <br />
            @Html.ActionLink("Visits", "Index", "Visits") <br />
            @Html.ActionLink("VisitDetails", "Index", "VisitDetails") <br />
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>College of Business</h2>
        <p>More Information about Ohio University is available on their website. Below is a link.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
</div>